@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .buttons{
            display: flex;
            justify-content: space-evenly;
            margin-top: 50px;
        }
        .buttons button{
            background-color: chocolate;
            padding: 10px 20px;
            border-radius: 25px;
            border-color: chocolate;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .image{
            width: 150px;
            height: 150px;
        }
        .buttons{
            display: flex;
            justify-content: space-evenly;
            margin-top: 50px;
        }
        .buttons button{
            background-color: chocolate;
            padding: 10px 20px;
            border-radius: 25px;
            border-color: chocolate;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
    <div style="border: 2px solid black; display: inline-block;">
        <img src="ömer.png" class="image" alt="">
        <p>Ömer Faruk Baklan</p>
        <p>117200040</p>
    </div>
    <div style="border: 2px solid black; display: inline-block;">
        <img src="roy.jpeg" class="image" alt="">
        <p>Roy Polat</p>
        <p>117200078</p>
    </div>
    <div style="border: 2px solid black; display: inline-block;">
        <img src="deniz.jpeg" alt=""class="image">
        <p>Deniz Kızıl</p>
        <p>117200079</p>
    </div>
    <div style="border: 2px solid black; display: inline-block;">
        <img src="kaan.jpeg" alt=""class="image">
        <p>Yusuf Kaan Ertürk</p>
        <p>117200084</p>
    </div>
    <div style="border: 2px solid black; display: inline-block;">
        <img src="ugur.jpeg" alt=""class="image">
        <p>Uğur Horasan</p>
        <p>118200044</p>
    </div>
    <div style="border: 2px solid black; display: inline-block;">
        <img src="emre-koker.jpeg" alt=""class="image">
        <p>Emre Köker</p>
        <p>118200103</p>
    </div>
    
</div>
<div class="buttons" >
    <button>EKLE</button>
    <button>SİL</button>
    <button>GÖNDER</button>
</div>
</body>
</html>
