@page
@model PrivacyModel
@{
    ViewData["Title"] = "This Is Our Database";
}
<h1>@ViewData["Title"]</h1>

<p>Roy	Polat	Istanbul	2412412</p>
<p>Ömer	baklan	Bursa	3243424</p>
<p>kaan	Erturk	Izmir	2435412</p>
<p>Ugur	Horasan	Edirne	2412412</p>
<p>Deniz	kizil	Hatay	4534534</p>
<p>Emre	Köker	Adana	9753647</p>
<p>Roy1	Polat1	artvin	5748395</p>
<p>Ömer1	baklan1	Antalya	9504738</p>
<p>kaan1	Erturk1	Isparta	2435412</p>
<p>Ugur1	Horasan1	Balikesir	8504834</p>
<p>Deniz1	kizil1	Bolu	9375025</p>
<p>Emre1	Köker1	Çanakkale	9753647</p>
<p>Roy2	Polat2	Erzincan	8046378</p>
<p>Ömer2	baklan2	Giresun	9584036</p>
<p>kaan2	Erturk2	Isparta	2849378</p>
<p>Ugur2	Horasan2	Adana	6574930</p>
<p>Deniz2	kizil2	Istanbul	765389</p>
<p>Emre2	Köker2	Bolu	9483029</p>
<p>Roy3	Polat3	Antalya	8695046</p>
<p>Ömer3	baklan3	Hatay	4859305</p>
<p>kaan3	Erturk3	Giresun	4860493</p>
<p>Ugur3	Horasan3	Istanbul	3658796</p>
<p>Deniz3	kizil3	Istanbul	9304687</p>
<p>Emre3	Köker3	Bolu	8465732</p>
<p>Roy4	Polat4	Istanbul	6574890</p>
<p>Ömer4	baklan4	Edirne	1539705</p>
<p>kaan4	Erturk4	Trabzon	2730796</p>
<p>Ugur4	Horasan4	Bursa	9564738</p>
<p>Deniz4	kizil4	Kayseri	38594037</p>
<p>Emre4	Köker4	Rize	7658432</p>
<p>Roy5	Polat5	Izmir	6475890</p>
<p>Ömer5	baklan5	Diyarbakir	1432678</p>
<p>kaan5	Erturk5	Bursa	8976543</p>
<p>Ugur5	Horasan5	Edirne	6574839</p>
<p>Deniz5	kizil5	Izmire	1536475</p>
<p>Emre5	Köker6	Trabzon	1623456</p>
<p>Roy6	Polat6	Antalya	1243561</p>
<p>Ömer6	baklan6	Konya	1123456</p>
<p>kaan6	Erturk6	Adana	1263847</p>
<p>Ugur6	Horasan6	Ankara	1098723</p>
<p>Deniz6	kizil6	Antalya	2950464</p>
<p>Emre6	Köker6	Ordu	4039887</p>
<p>Roy7	Polat7	Istanbul	1536277</p>
<p>Ömer7	baklan7	Istanbul	2255336</p>
<p>kaan7	Erturk7	Izmir	2887654</p>
<p>Ugur7	Horasan7	Bursa	3945959</p>
<p>Deniz7	kizil7	Sakartya	3339997</p>
<p>Emre7	Köker7	Rize	3647589</p>
<p>Roy8	Polat8	Antalya	4758909</p>
<p>Ömer8	baklan8	Adana	2304987</p>
<p>kaan8	Erturk8	Edine	3657488</p>
<p>Ugur8	Horasan8	Kayseri	3334456</p>
<p>Deniz8	kizil8	Bursa	5678456</p>
<p>Emre8	Köker8	Hatay	1233123</p>

